* { 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.game_infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.gameArea {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 500px;
    border: 1px solid #999;
    cursor: crosshair;
    position: relative;
    padding: 20px;
    background-color: #fff;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    overflow: hidden;
}
#target {
    height: 60px;
    width: 60px;
    position: absolute;
    transition: 0.25s;
    animation: animationTarget 10s infinite;
}
button {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    background-color: #06aa1c;
    cursor: pointer;
    font-size: 16px;
}

@keyframes animateTarget {
    to {
        transform: translateY(-200px) rotate(90deg);
    }
}




